@model Blog.Web.Models.BlogViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Blog</h4>
    <hr/>
    <dl class="row">
    </dl>
</div>
<div>
    @*TODO: Later
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-action="Index">Back to List</a> |
    <a asp-action="index" asp-controller="Post" asp-route-blogId="@Model.Id">Postings</a>
</div>